---
import Member from './Member.astro';
import Mateo from '../../../../public/assets/images/team/mateo.png';
import Fer from '../../../../public/assets/images/team/fer.png';
import Fede from '../../../../public/assets/images/team/fede.png';
import Mati from '../../../../public/assets/images/team/mati.png';
import getData from '../../../services/data';
import { getLangFromUrl } from '../../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const data = await getData(`${lang}/index/team`);
if (!data) {
  return Astro.redirect('/404');
}
---

<div class="container">
  <div class="section_heading text-center">
    <h2 class="heading_subtitle text-uppercase">
      <span class="double_icon">
        <i class="fas fa-sharp fa-square-full"></i>
        <i class="fas fa-sharp fa-square-full"></i>
      </span>
      <span>{data.span}</span>
    </h2>
    <h3 class="heading_title mb-0">{data.h3}</h3>
  </div>

  <div class="row justify-content-center">
    <Member
      name={data.m1Name}
      designation={data.m1Designation}
      image={Mateo.src}
      customImgStyle="width: 100%;object-fit: cover;height: 400px;margin-top: -7em;"
      linkedin={data.m1Linkedin}
    />
    <Member
      name={data.m2Name}
      designation={data.m2Designation}
      image={Fer.src}
      linkedin={data.m2Linkedin}
    />
    <Member
      name={data.m3Name}
      designation={data.m3Designation}
      image={Fede.src}
      linkedin={data.m3Linkedin}
    />
    <Member
      name={data.m4Name}
      designation={data.m4Designation}
      image={Mati.src}
      linkedin={data.m4Linkedin}
    />

    <div class="btn_wrap pb-0 text-center">
      <a href={`/${lang}/about-us/`} class="bd-btn-link btn_primary" data-astro-reload>
        <span class="bd-button-content-wrapper">
          <span class="bd-button-icon">
            <i class="fa-light fa-arrow-right-long"></i>
          </span>
          <span class="pd-animation-flip">
            <span class="bd-btn-anim-wrapp">
              <span class="bd-button-text">{data.span1}</span>
              <span class="bd-button-text">{data.span1}</span>
            </span>
          </span>
        </span>
      </a>
    </div>
  </div>
</div>
