---
import getData from "../../services/data";
import FaqItem from "./FaqItem";
const data = await getData("es/contact/faq");
---

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="section_heading mb-lg-0">
        <h2 class="heading_title">{data.headingTitle}</h2>
        <a class="bd-btn-link btn_primary">
          <span class="bd-button-content-wrapper">
            <span class="bd-button-icon">
              <i class="fa-light fa-arrow-right-long"></i>
            </span>
            <span class="pd-animation-flip">
              <span class="bd-btn-anim-wrapp">
                <span class="bd-button-text">{data.bttnTxt}</span>
                <span class="bd-button-text">{data.bttnTxt}</span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-md-6">
      <div class="accordion_wrap" id="faq_accordion">
        <FaqItem
          id={data.item1Id}
          txtHeader={data.item1Txt}
          txtBody={data.item1BodyTxt}
          expanded={true}
          client:visible
        />
        <FaqItem
          id={data.item2Id}
          txtHeader={data.item2Txt}
          txtBody={data.item2BodyTxt}
          client:visible
        />
        <FaqItem
          id={data.item3Id}
          txtHeader={data.item3Txt}
          txtBody={data.item3BodyTxt}
          expanded={false}
          client:visible
        />
        <FaqItem
          id={data.item4Id}
          txtHeader={data.item4Txt}
          txtBody={data.item4BodyTxt}
          expanded={false}
          client:visible
        />
        <FaqItem
          id={data.item5Id}
          txtHeader={data.item5Txt}
          txtBody={data.item5BodyTxt}
          expanded={false}
          client:visible
        />
        <FaqItem
          id={data.item6Id}
          txtHeader={data.item6Txt}
          txtBody={data.item6BodyTxt}
          expanded={false}
          client:visible
        />
      </div>
    </div>
  </div>
</div>
