---
import AboutUsSection from "../../components/about-us/AboutUsSection.astro";
import BannerSection from "../../components/environment/BannerSection.astro";
import getData from "../../services/data";
import Layout from "../../layouts/Layout.astro";
export const prerender = true;
export async function getStaticPaths() {
  return [
    { params: { lang:'es',about:'nosotros'}},
    { params: { lang:'en',about:'about-us'}},
  ];
}
const { lang, about } = Astro.params;
const data = await getData(`${lang}/enviroment/routes`);
---
<Layout transition:persist title={data.about} menu="" lang={lang}>
  <section class="page_banner text-center">
    <BannerSection
      title={data.aboutTxt}
      aText={data.index}
      liText={data.about}
    />
  </section>
  <section
    class="details_section service_details section_space_lg position-relative">
    <AboutUsSection />
  </section>
</Layout>
