---
import BannerSection from "../../components/environment/BannerSection.astro";
import ContactForm from "../../components/contact/ContactForm.jsx";
import FaqSection from "../../components/contact/FaqSection.astro";
import getData from "../../services/data";
import Layout from "../../layouts/Layout.astro";
export const prerender = true;
export async function getStaticPaths() {
  return [
    { params: { lang:'es',contact:'contactanos'}},
    { params: { lang:'en',contact:'contact'}},
  ];
}

const { lang, contact } = Astro.params;

const data = await getData(`${lang}/enviroment/routes`);
---
<Layout transition:persist title={data.contact} menu="" lang={lang}>
  <section class="page_banner text-center">
    <BannerSection
      title={data.contact}
      aText={data.index}
      liText={data.contact}
    />
  </section>
  <section class="contact-section contact_form_section">
    <ContactForm client:only="react" lang={lang}/>
  </section>
  <section class="faq_section section_space_lg">
    <FaqSection />
  </section>
</Layout>
