---
import BannerSection from "../../components/environment/BannerSection.astro";
import DetailsSection from "../../components/portfolio/DetailsSection.astro";
import getData from "../../services/data";
import Layout from "../../layouts/Layout.astro";
export const prerender = true;
export async function getStaticPaths() {
  return [
    { params: { lang: "es", porfolio: "portfolio1" } },
    { params: { lang: "en", porfolio: "portfolio1" } },
    { params: { lang: "es", porfolio: "portfolio2" } },
    { params: { lang: "en", porfolio: "portfolio2" } },
    { params: { lang: "es", porfolio: "portfolio3" } },
    { params: { lang: "en", porfolio: "portfolio3" } },
    { params: { lang: "es", porfolio: "portfolio4" } },
    { params: { lang: "en", porfolio: "portfolio4" } },
  ];
}
const { lang, porfolio } = Astro.params;
const data = await getData(`${lang}/enviroment/routes`);
---
<Layout lang={lang} title={porfolio} menu="">
  <section class="page_banner text-center">
    <BannerSection
      title={data.portfolio}
      aText={data.index}
      liText={data.portfolio}
    />
  </section>
  <section class="details_section portfolio_details section_space_lg">
    <DetailsSection lang={lang} portfolio={porfolio} />
  </section>
</Layout>
