---
import BannerSection from '../../components/environment/BannerSection.astro';
import getData from '../../services/data';
import Layout from '../../layouts/Layout.astro';
import ServicesSection from '../../components/services/ServicesSection.astro';
export const prerender = true;
export async function getStaticPaths() {
  return [
    { params: { lang:'es',service:'servicios'}},
    { params: { lang:'en',service:'services'}},
  ];
}

const { lang, service } = Astro.params;
const data = await getData(`${lang}/enviroment/routes`);
---

<Layout title={data.service} menu="" lang={lang}>
  <section class="page_banner text-center">
    <BannerSection
      title={data.service}
      aText={data.index}
      liText={data.service}
    />
  </section>
  <section class="service_section section_space_lg">
    <ServicesSection />
  </section>
</Layout>
