---
import {getLangFromUrl}  from "../../i18n/utils";
import getData from "../../services/data";
import BodyDown from "./BodyDown.astro";
import BodyUp from "./BodyUp.astro";
const lang = getLangFromUrl(Astro.url);
const data = await getData(`${lang}/about-us/aboutus`);
---

<div class="container">
  <div class="details_content_wrap">
    <BodyUp
      bttnTxt={data.bttnTxt}
      headTitle={data.headTitle}
      rigthTxt={data.rigthTxt}
      item1Txt={data.item1Txt}
      item2Txt={data.item2Txt}
      item3Txt={data.item3Txt}
    />

    <div class="section_space_lg">
      <div class="team">
        <img src="/assets/images/team/team.png" alt={data.imgAlt} />
      </div>
    </div>
    <BodyDown bttnTxt={data.bBttnTxt} headTxt={data.bHeadTxt} lang={lang} />
  </div>
</div>
  </div>
</div>
