---
import getData from "../../services/data";
import BoxElement from "./BoxElement.astro";
import DetailElement from "./DetailElement.astro";
interface Props {
  headTxt: string;
  bttnTxt: string;
}
const data = await getData("es/about-us/bodydown")
const { headTxt, bttnTxt } = Astro.props;
---

<div class="row">
  <div class="col col-lg-4">
    <DetailElement bttnTxt={bttnTxt} headTxt={headTxt} />
  </div>
  <div class="col col-lg-8">
    <div class="row">
      <BoxElement
        icon="/assets/images/icons/icon_care_primary.svg"
        title={data.box1Title}
        txt={data.box1Txt}
      />
      <BoxElement
        icon="/assets/images/icons/icon_together_primary.svg"
        title={data.box2Title}
        txt={data.box2Txt}
      />
      <BoxElement
        icon="/assets/images/icons/icon_communication_primary.svg"
        title={data.box3Title}
        txt={data.box3Txt}
      />
      <BoxElement
        icon="/assets/images/icons/icon_teaching_primary.svg"
        title={data.box4Title}
        txt={data.box4Txt}
      />
    </div>
  </div>
</div>
