---
import { getLangFromUrl } from "../../i18n/utils";
import AboutUsSection from "../../components/about-us/AboutUsSection.astro";
import BannerSection from "../../components/environment/BannerSection.astro";
import getData from "../../services/data";
import Layout from "../../layouts/Layout.astro";
const lang = getLangFromUrl(Astro.url);
const data = await getData(`${lang}/enviroment/routes`);
---

<Layout transition:persist title={data.about} menu="" lang="es">
  <section class="page_banner text-center">
    <BannerSection
      title={data.aboutTxt}
      ahref="/"
      aText={data.index}
      liText={data.about}
    />
  </section>
  <section
    class="details_section service_details section_space_lg position-relative"
  >
    <AboutUsSection />
  </section>
</Layout>
